.our-team{
  min-height:100vh;
  position: relative;
}
.our-team .image{
  background-image:url("../../images/team_bg.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.our-team .image.removed{
  display: none;
}
.our-team .overlay{
  min-height: 100vh;
  z-index: 1;
  background-color: var(--main-dark-color);
  position: relative;
}
.our-team .overlay .container{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap:20px;
  height: 100vh;
  padding-top:30px;
  padding-bottom:50px;
}
.our-team .overlay h1{
  color:var(--main-color);
  font-size:50px;
  margin:0;
}
.our-team .overlay p{
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.our-team .overlay .team-con{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.our-team .overlay .team-con .team-member{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 250px;
  border-radius: 6px;
  overflow: hidden;
}
.our-team .overlay .team-con .team-member .team-img{
  position: relative;
  width: 100%;
  height: 250px;
}
.our-team .overlay .team-con .team-member img{
  width: 100%;
}
.our-team .overlay .team-con .team-member .team-overlay{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:black;
  opacity: 0;
  transition: 0.5s;
}
.our-team .overlay .team-con .team-member .info{
  background-color: var(--section-color);
  border-top: 1px solid rgb(183 183 183);
  text-align: center;
  padding: 10px;
  transition:0.5s;
}
.our-team .overlay .team-con .team-member .info h3{
  color: var(--main-color);
  font-size: 25px;
  margin: 5px auto 15px;
  transition:0.5s;
}
.our-team .overlay .team-con .team-member .info p{
  color: #686868;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  transition:0.5s;
}
.our-team .overlay .team-con .team-member .social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  position:relative;
  margin-top: 20px;
  transition:0.5s;
}
.our-team .overlay .team-con .team-member .social::before{
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition:0.5s;
}
.our-team .overlay .team-con .team-member .social span{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--main-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  transition: 0.3s;
  transition:0.5s;
}
.our-team .overlay .team-con .team-member:hover .team-img .team-overlay{
  opacity: 0.5;
}
.our-team .overlay .team-con .team-member:hover .info{
  background-color:var(--main-color);
}
.our-team .overlay .team-con .team-member:hover .info h3,
.our-team .overlay .team-con .team-member:hover .info p{
  color:white;
}
.our-team .overlay .team-con .team-member:hover .social::before{
  background-color: white;
}
